---
import { Code } from "astro:components";
import CodeIcon from "../icons/Code.astro";
import LinkIcon from "../icons/Link.astro";
import SocialPills from "./SocialPill.astro";

const PROJECTS = [
  {
    title: "ikigAI",
    description: "Proyecto realizado con Next.js, Vercel AI SDK y Tailwind CSS que consiste en una web que te permite crear un perfil empresarial mediante el test ikigai y la ayuda de una IA. He usado Groq, modelo llama3-8b-8192.",
    code: "https://github.com/HananGK/ikigAI",
    link: "https://ikig-ai-hanangks-projects.vercel.app/",
    image: "/projects/ikigAI.jpg",
  },
  {
    title: "Países del mundo",
    description:
      "Proyecto realizado usando JavaScript, algo de HTML y CSS que consiste en una app creada desde cero que muestra datos de países del mundo mediante llamadas ajax a una API.",
    code: "https://github.com/HananGK/Proyecto-paises",
    link: "http://82.223.202.137/hannan/",
    image: "/projects/paisesProyecto.webp",
  },
  {
    title: "Full-Stack E-Commerce",
    description: "Proyecto realizado con el stack MERN (MongoDB, Express, React, Node), Tailwind y Vite. Se compone de dos partes: la tienda donde se puede hacer login y añadir productos al carrito, y una parte de administración donde se pueden añadir, ver y eliminar productos. Enlaces al Front ↓",
    code: "https://github.com/HananGK/front_ecommerce",
    link: "https://front-ecommerce-puce.vercel.app/",
    image: "/projects/front_ecommerce.jpg"
  },
  {
    description: "Enlace a la parte de administración ↓",
    code: "https://github.com/HananGK/admin_ecommerce",
    link: "https://admin-ecommerce-ebon.vercel.app/",
    image: "/projects/admin_ecommerce.jpg"
  },
  {
    description: "Enlace al Back" ,
    code: "https://github.com/HananGK/back_ecommerce",
    image: "/projects/back_ecommerce.jpg"
  },
  {
    title: "SpaceX Launches", 
    description: "Proyecto realizado en Astro con una API que muestra los últimos y los lanzamientos más antiguos de SpaceX. Otras tecnologías usadas: Tailwind CSS, TypeScript y Preact.",
    code: "https://github.com/HananGK/proyectoAstro",
    link: "https://spacexlaunches-hanangks-projects.vercel.app/",
    image: "/projects/proyectoAstro.jpg",
  }
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, code }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla del proyecto ${title}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-semibold text-purple-300 mb-2">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <p class="text-md mb-4 text-pretty">{description}</p>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {code && (
                <SocialPills href={code}>
                  <CodeIcon class="size-6" />
                  Code
                </SocialPills>
              )}
              {link && (
                <SocialPills href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </SocialPills>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
  <p class="text-center">Más proyectos y código en <a href="https://github.com/HananGK" target="_blank" rel="noopener noreferrer" class="text-purple-400 hover:underline">GitHub</a></p>
</div>
