---
import { Code } from "astro:components";
import CodeIcon from "../icons/Code.astro";
import LinkIcon from "../icons/Link.astro";
import SocialPills from "./SocialPill.astro";

const PROJECTS = [
  {
    title: "ikigAI",
    description: "Project created with Next.js, Vercel AI SDK, and Tailwind CSS, which consists of a website that allows you to create a business profile using the Ikigai test and AI assistance. I used Groq, Llama3-8b-8192 model.",
    code: "https://github.com/HananGK/ikigAI",
    link: "https://ikig-ai-hanangks-projects.vercel.app/",
    image: "/projects/ikigAI.jpg",
  },
  {
    title:"TierCraft",
    description: "Developed with HTML, CSS, and JavaScript, using Drag and Drop. It's a website that allows you to create tier lists by uploading your images, and it also lets you save the result as an image.",
    code: "https://github.com/HananGK/TierCraft",
    link: "https://hanangk.github.io/TierCraft/",
    image: "/projects/TierCraft.jpg",
  },
  {
    title: "Países del mundo",
    description:
      "Project developed using JavaScript, some HTML, and CSS, which consists of an app created from scratch that displays data of countries around the world through AJAX calls to an API.",
    code: "https://github.com/HananGK/Proyecto-paises",
    link: "https://hanangk.github.io/Proyecto-paises/",
    image: "/projects/paisesProyecto.webp",
  },
  {
    title: "Full-Stack E-Commerce",
    description: "Project developed with the MERN stack (MongoDB, Express, React, Node), Tailwind, and Vite. It consists of two parts: the store, where users can log in and add products to the cart, and an admin section where products can be added, viewed, and deleted. Link to front ↓",
    code: "https://github.com/HananGK/front_ecommerce",
    link: "https://front-ecommerce-puce.vercel.app/",
    image: "/projects/front_ecommerce.jpg"
  },
  {
    description: "Link to admin part ↓",
    code: "https://github.com/HananGK/admin_ecommerce",
    link: "https://admin-ecommerce-ebon.vercel.app/",
    image: "/projects/admin_ecommerce.jpg"
  },
  {
    description: "Link to back" ,
    code: "https://github.com/HananGK/back_ecommerce",
    image: "/projects/back_ecommerce.jpg"
  },
  {
    title: "SpaceX Launches", 
    description: "Project developed in Astro with an API that displays the latest and the oldest launches from SpaceX. Other technologies used: Tailwind CSS, TypeScript, and Preact.",
    code: "https://github.com/HananGK/proyectoAstro",
    link: "https://spacexlaunches-hanangks-projects.vercel.app/",
    image: "/projects/proyectoAstro.jpg",
  }
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, code }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla del proyecto ${title}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-semibold text-purple-300 mb-2">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <p class="text-md mb-4 text-pretty">{description}</p>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {code && (
                <SocialPills href={code}>
                  <CodeIcon class="size-6" />
                  Code
                </SocialPills>
              )}
              {link && (
                <SocialPills href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </SocialPills>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
  <p class="text-center">More projects and code on <a href="https://github.com/HananGK" target="_blank" rel="noopener noreferrer" class="text-purple-400 hover:underline">GitHub</a></p>
</div>
